
<form class="form" action="#">
	<div class="form__row">
		<label for="search-query" class="is__accessible">Please enter a search term</label>
		<div class="form__field">
	    	<input class="ion-search" id="search-query" placeholder="Search term" type="text">
		</div>
	</div>
</form>
