
<header class="banner" role="banner">
	<nav role="navigation" class="navigation-primary">
		<ol id="view-navigation" class="navigation-primary__list">
			<li class="navigation-primary__item">
				<a class="router__navigate navigation-primary__link--index" href="/index">
					<img
						alt="John Wiley &amp; Sons"
						class="banner__logo"
						height=""
						src="/images/content/svg/brand/wiley-logo.svg"
						width="150">
				</a>
			</li>
		</ol>
	</nav>
</header>
