
@font-face {
  font-family 	: 'Material Icons';
  font-style 	: normal;
  font-weight 	: 400;
  src 			: url( 'https://example.com/MaterialIcons-Regular.eot' );
  src 			: local( 'Material Icons' 			) ,
			      local( 'MaterialIcons-Regular' 	) ,
			      url( 'https://example.com/MaterialIcons-Regular.woff2' 	) format( 'woff2' 	) ,
			      url( 'https://example.com/MaterialIcons-Regular.woff' 	) format( 'woff' 	) ,
			      url( 'https://example.com/MaterialIcons-Regular.ttf' 		) format( 'truetype');
}

.material-icons {
	-webkit-font-smoothing 	: antialiased;
	-moz-osx-font-smoothing : grayscale;
	direction 				: ltr;
	display 				: inline-block;
	font-family 			: 'Material Icons';
	font-feature-settings 	: 'liga';
	font-style 				: normal;
	font-size 				: 24px;
	font-weight 			: 400;
	letter-spacing 			: normal;
	text-rendering 			: optimizeLegibility;
	line-height 			: 1;
	text-transform 			: none;
	white-space 			: nowrap;
	word-wrap 				: normal;
}
