
<main
	class="loader loader--loading main"
	id="view-main"
	role="main">
	<p class="loader__status">
		<span class="is__accessible">Please wait while the content loads</span>
	</p>
	<div
		aria-describedby="loader"
		aria-live="polite"
		class="view__body loader__body main__body"
	></div>
</main>
