
.footer {
	@include 	gradient-vertical();
	@include 	box-sizing( border-box );
	border 		: 1px solid lighten( $color-body , 40 );
	bottom 		: 0;
	box-shadow 	: 0 0 3px #000;
	height 		: 42px;
	left 		: 0;
	position 	: fixed;
	width 		: 100%;
	z-index 	: 2;

	.form__row {
		margin : 0 5px;
	}
}
